# frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/

# backend
backend/bin/
backend/tmp/
backend/data/
backend/cmd/data/
backend/cmd/server/
backend/aranea.exe
backend/aranea-server.exe

# misc
.DS_Store
Thumbs.db
*.log
